body {
    background-color: lightgoldenrodyellow;
    color: rgb(7, 3, 54);
}

hr {
    clear:both;
}
figure {
    float: left;
    
}

img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  height: 120px;


}

footer {
    list-style-type: none;
    
}

footer li {
    float: left;
    margin-right: 20px;
    margin-top: 5px;
    list-style-type:none;
}

.source {
    font-weight:bold;
}

#wraper {
        width: 1000px;
        background-color: gray;
        margin: auto;
}



header {
    width: 100%;
    height: 100px;
    background-color: orange;
}

nav {
    width: 20%;
    height: 200px;
    background-color: cyan;
    float: left;
}

main {
    width: 63.85%;
    overflow:auto;
    min-height:390px;
    background-color: lightgrey;
    float: left;
    padding: 5px;
}

aside {
    width: 15%;
    height: 200px;
    background-color: maroon;
    float: left;
}

footer {
    width: 100%;
    height: 25px;
    background-color: lightblue;
    clear: left;
    border-radius: 15px;
}