
        <article>
            <figure>
                <img src={{ image }}
                     alt="{{ alt }}">

            </figure>

            <h2><a href="{{ article_link }}" target="_blank">{{ title }}</a></h2>

            <footer>
                <ul>
                    <li class="source">{{ outlet }}</li>
                    <li class="date">{{ date }}</li>
                    <li class="By Line">{{ byline }}</li>

                </ul>
            </footer>

            <br>
            <p>{{ short_description }}</p>
        </article>

        <hr>


